<div class="row m-5">
    <div class="col-4"></div>
    <div class="col-4 m-3 ">
        <div action="" class="bank p-5 border border-3 rounded-3 shadow-lg w-75"
            style="background-color: rgb(230, 227, 223);">
            <img src="https://e7.pngegg.com/pngimages/19/546/png-clipart-white-bank-illustration-online-banking-finance-icon-white-bank-building-building-black-white.png"
                alt="" width="80px" height="80px"
                style="border-radius:50px ; border: 5px double rgb(220, 215, 215); margin-left: 80px;">
           
                <h5 style="text-align:center ; margin: 15px;">My Bank</h5>

            <form [formGroup]="registerForm"> 
                <!-- form controls to be given here as shown down -->
                <input formControlName="uname" name="username" type="text" id="uname" placeholder="Username"
                    class="form-control rounded-4 " style="background-color:rgb(206, 204, 201) ; border-style: inset;">

                <input formControlName="acno" name="Account no" type="text" id="accno" placeholder="Account Number"
                    class="form-control mt-3 rounded-4"
                    style="background-color:rgb(206, 204, 201) ; border-style: inset;">

                <input formControlName="pswd" name="Password" type="password" id="pswd" placeholder="Password"
                    class="form-control mt-3 rounded-4"
                    style="background-color:rgb(206, 204, 201) ; border-style: inset;">

                <input type="button" id="register" (click)="signup()" value="Register"
                    class="form-control mt-4 mb-3 rounded-4 bg-primary text-light">
               
                    <span style="margin-left: 90px;"><a routerLink="" style="text-decoration:none ;">Sign in</a></span>
            </form>
        </div>

    </div>
</div>